body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Courier; 
    /* All fonts text elements are the same font for consistency */

}
/* START OF BANNER */
#topbar {
    width: 100%;
    height: auto; 
    background-image: url("../image/backimg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
    background-attachment: fixed;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
}

#logo { 
    width: 400px;
    height: auto;
    border-radius: 50%;
    align-content: center;
}

#maincontent { 
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

#bannertxt {
    color: white;
    font-weight: bold;
    font-size: 300%;
}
/* END OF BANNER */




/* START OF NAVIGATIONBAR */
#navbar {
    width: 100%;
    height: 50px;
    background-color: black;
}
ul {
    list-style-type: none;
    
}
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    float:left;
    font-size: 150%;
}
li a:hover {
    background-color: white;
    color: black;
}
/* END OF NAVIGATIONBAR */


/* START OF BODY STYLES */

#htxt {
    text-align: center;
    font-size: 50px;
}

#otxt {
    text-align: justify-all;
    font-size: 20px;
}

#maincontent {
    align-content: center;
    text-align: center;
    margin: 0;
}

#aboutme {
    background-color:#4B4A52;
    width: 80%;
    height: auto;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    border: solid 2px white;
    margin-top: 5px;
}

#aboutme p {
    padding-left: 2px;
    padding-right: 2px;
}

#aboutme img {
    width: 60%;
    height: auto;
    margin: 5px;
    border: solid 2px white;
}




/* END OF BODY STYLES */























/* START OF FOOTER */
#footer {
    background-color: black;
    align-content: center;
    text-align: center;

}
#footer a {
    font-size: 0;
    padding:5px;
}

#footer a img {
    width: 50px;
    height: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}

#copyright {
    color: white;
    font-size: 15px;
    float: left;
    padding-left: 15px;
}

a img:hover {
    transform: translateY(-5px);
}

/* END OF FOOTER */

